---
import { CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import TableOfContents from '../../components/navigation/right-sidebar/TableOfContents';
import generateToc from '../../lib/utils/generateToc';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	const nonDraftPosts = posts.filter((post) => !post.data?.draft);
	return nonDraftPosts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content, headings } = await post.render();
---

<BlogPost {...post.data}>
	<h1 id="overview">{post.data.title}</h1>
	{
		headings && (
				<TableOfContents
					client:media="(min-width: 50em)"
					toc={generateToc(headings, 'overview')}
					labels={{ onThisPage: 'TableOfContents' }}
					isMobile={false}
				/>
			)
	}
	<Content />
</BlogPost>
