---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import PostCard from '../../components/post/PostCard.astro';

const posts = (
	await getCollection('blog', ({ data }) => process.env.NODE_ENV !== 'production' || !data.draft)
).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---
<BaseLayout>
	<section class="max-w-7xl m-auto px-4">
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
			{
				posts.map((post) => (
					<PostCard post={post} />
				))
			}
	</section>
</BaseLayout>