---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (
	await getCollection('blog', ({ data }) => process.env.NODE_ENV !== 'production' || !data.draft)
).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---
<BaseLayout>
	<section class="max-w-7xl m-auto px-4">
		<ul>
			{
				posts.map((post) => (
					<li class="py-3">
						<FormattedDate date={post.data.pubDate}/>
						<a class="text-blue-600 visited:text-red-500" href={`/blog/${post.slug}/`}>{post.data.title}</a>
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>