---
import BaseLayout from "layouts/BaseLayout.astro";
import { getCollection, CollectionEntry } from 'astro:content';
import PostCard from "@components/post/PostCard.astro";

type Authors = CollectionEntry<'author'>[]
type Post = Array<CollectionEntry<'blog'>>


export async function getStaticPaths() {
  const authors: Authors = await getCollection('author');
	return authors.map((author) => ({
		params: { author: author.id },
		props: author,
	}));
}

const author = Astro.props;
const posts: Post = await getCollection('blog');
const filteredPosts = posts.filter((post) => post.data.author.id === author.id);
---
<BaseLayout>
	<section class=" max-w-7xl m-auto px-4">
		<h2 class="text-xl text-center">{author.data.name}</h2>
		<p class="text-center mb-2">{author.data.about}</p>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
			{
				filteredPosts.map((post) => (
					<PostCard post={post} />
				))
			}
		</div>
	</section>
</BaseLayout>
