<div class="flex items-center">
	<img
		src="https://avatars.githubusercontent.com/u/95082903?s=48&v=4"
		alt="anand"
		class="w-12 h-12 rounded-full mr-4"
	/>
	<div class="text-sm">
		<p class="text-gray-900 leading-none">anand</p>
		<p class="text-gray-600">11/11/1999</p>
	</div>
</div>
