---
export interface Props {
  posts: {
    title: string
    items: {
        title: string
        link: string
      }[]
  }[]
}

const { posts } = Astro.props;
const { pathname } = Astro.url;
---
{
  posts.map((list) => (
    <div class="my-2">
      <h3 class="text-2xl mb-2">{list.title}</h3>
      <ul>
        {list.items.map((item) => (
          <li
            class={
              `w-full list-none border-bk-purple-300/20 p-2 text-sm transition-colors duration-300 hover:border-bk-purple-300/50 
              ${ pathname === `/${item.link}` || pathname === `/${item.link}/` ? 'border-l-4 border-bk-purple-300/100 dark:bg-bk-purple-300/20 bg-bk-purple-300/30' : '' }`
            }
          >
            <a
              class={
                `text-bk-purple-800 hover:text-bk-purple-400 dark:text-bk-purple-200 dark:hover:text-bk-purple-100 
                ${ pathname === '/' + item.link ? 'font-medium text-bk-purple-700 dark:text-bk-purple-100' : '' }`
              } 
              href={'/' + item.link}
            >
              {item.title}
            </a>
          </li>
        ))}
      </ul>
    </div>
  ))
}
