@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 240, 37%, 90%;
		--foreground: 0, 0%, 0%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;

		--primary: 279, 69%, 36%;
		--primary-foreground: 0 0% 98%;

		--secondary: 0, 8%, 85%;
		--secondary-foreground: 240 5.9% 10%;

		--accent: 279, 79%, 50%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 5% 64.9%;

		--radius: 0.5rem;

		--code-background: 240 5.9% 90%;
		scroll-behavior: smooth;
	}

	.dark {
		--background: 0, 0%, 0%;
		--foreground: 279, 70%, 92%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;

		--primary: 279, 69%, 36%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 279, 70%, 13%;
		--secondary-foreground: 0 0% 98%;

		--accent: 279, 79%, 70%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 240 3.7% 15.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.markdown {
	@apply flex w-full flex-col items-start justify-start leading-relaxed text-slate-900 selection:bg-bk-purple-200 selection:text-bk-purple-500 dark:text-bk-purple-100 dark:selection:bg-bk-purple-100 dark:selection:text-slate-900;
}
.markdown h1 {
	@apply mt-8 mb-4 scroll-m-20 text-3xl font-extrabold tracking-tight lg:text-4xl;
}
.markdown h2 {
	@apply mt-8 mb-4 scroll-m-20 pb-2 text-2xl font-semibold tracking-tight transition-colors first:mt-0;
}
.markdown h3 {
	@apply mt-4 mb-2 scroll-m-20 text-xl font-semibold tracking-tight;
}
.markdown h4 {
	@apply mt-2 mb-1 scroll-m-20 text-base font-semibold tracking-tight;
}
.markdown li {
	@apply list-disc text-slate-900 dark:text-white;
}
.markdown ol > li {
	@apply mb-2 list-decimal;
}
.markdown p {
	@apply mb-4 dark:text-white;
}
.markdown a > p {
	@apply mb-0 text-sm;
}
.markdown a:not(.heading-link--hidden---effects) {
	@apply text-bk-purple-500 underline decoration-slate-500 
        decoration-dotted underline-offset-2  
        hover:text-bk-purple-700 dark:text-bk-purple-200 
        dark:decoration-bk-purple-200 dark:hover:text-bk-purple-300;
}

.markdown code {
	@apply relative rounded text-white dark:text-secondary-foreground bg-[#282c34] px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold w-full;
	counter-reset: line;
}

.markdown [data-rehype-pretty-code-title] {
	@apply z-10 -mb-1 mt-3 w-full rounded-t-md border border-bk-purple-300/80 bg-[#191724] px-2 py-1 font-mono text-white;
}

.markdown pre ~ [data-rehype-pretty-code-caption] {
	@apply z-10 -mt-4 mb-3 w-full rounded-b-md border border-bk-purple-300/80 bg-[#191724] px-2 pt-2 pb-1 font-mono text-bk-purple-200 border-t-0;
}

.markdown pre {
	@apply mx-auto mb-3 rounded border border-bk-purple-300/80 p-2 pl-3 font-mono shadow-xl sm:pt-2;
}

.markdown [data-rehype-pretty-code-fragment] {
	@apply w-full;
}

.markdown pre > code [data-highlighted-chars] {
	@apply dark:bg-[#52525b80] rounded-sm py-[2px] px-1 bg-bk-purple-800/50;
}

.markdown pre > code [data-highlighted-line] {
	@apply dark:bg-bk-purple-1000/70 p-[2px] border-l-2 border-bk-purple-500 bg-bk-purple-800/50 -ml-1;
}

.markdown pre,
pre > code {
	@apply dark:bg-secondary bg-slate-800 grid overflow-x-auto !important;
}

[data-line]:has([data-chars-id='add']) {
	@apply bg-green-700/50;
}

[data-line]:has([data-chars-id='add']) > [data-highlighted-chars] {
	@apply hidden;
}

[data-line]:has([data-chars-id='del']) {
	@apply bg-red-700/50;
}

[data-line]:has([data-chars-id='del']) > [data-highlighted-chars] {
	@apply hidden;
}

.markdown pre > code[data-line-numbers] > [data-line]::before {
	@apply inline-block w-4 mr-4 text-right text-gray-400;
	counter-increment: line;
	content: counter(line);
}

.markdown pre > code[data-language='bash'] > [data-line]::before,
.markdown pre > code[data-language='sh'] > [data-line]::before {
	@apply inline-block w-4 mr-4 text-right text-gray-400;
	content: '$';
}

.markdown ol {
	@apply w-full;
}

.markdown details {
	@apply mt-2 w-full rounded-md border border-bk-purple-300/80 bg-[#191724] px-3 transition-all duration-300 ease-in-out;
}
.markdown details[open] {
	@apply bg-bk-purple-200/10;
}
.markdown details pre {
	@apply border-0 shadow-none;
}
.markdown details > summary {
	@apply cursor-pointer text-[#A6ACCD];
}
.markdown summary {
	@apply py-3;
}

.markdown p > img {
	@apply mt-8 text-sm;
}
.markdown table > tbody > tr > td > a {
	overflow-wrap: anywhere;
}
.markdown table {
	@apply max-w-full table-fixed;
}
.markdown table > tbody > tr > td {
	@apply align-top;
}
.markdown blockquote a {
	@apply text-slate-900 dark:text-bk-purple-50;
}
