---
export interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<section class={`relative ${className ?? ''}`}>
  <slot/> 
  <svg class="absolute blur-xl animate-circular-reverse opacity-30 z-50 right-0" width="300" height="300" viewBox="0 0 634 657" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="fill-accent" fill-rule="evenodd" clip-rule="evenodd" d="M319.292 0.813293C375.883 -4.09222 433.613 13.5098 480.849 45.0588C526.779 75.7357 559.811 123.041 579.536 174.631C597.761 222.296 580.269 274.418 587.839 324.883C597.064 386.387 648.416 444.581 628.886 503.627C609.552 562.083 545.389 593.661 490.027 620.603C436.962 646.427 377.58 663.524 319.292 654.292C264.126 645.553 227.606 595.044 177.17 571.046C121.187 544.408 34.4844 560.795 6.51435 505.465C-22.0033 449.053 52.3217 388.093 52.73 324.883C53.1342 262.306 -18.0403 202.154 8.83842 145.642C35.0791 90.4719 117.771 97.5607 173.136 71.7326C223.06 48.4424 264.408 5.57086 319.292 0.813293Z" fill="#C4C4C4"/>
  </svg>
  <svg class="absolute blur-xl opacity-70 z-50 animate-circular-mid right-0" width="300" height="300" viewBox="0 0 671 591" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="fill-secondary" fill-rule="evenodd" clip-rule="evenodd" d="M366.994 2.3657C417.453 6.91368 463.137 27.0577 509.219 48.1096C559.519 71.0884 619.454 84.9151 649.425 131.389C679.59 178.163 668.21 238.795 668.083 294.452C667.957 349.993 676.846 409.213 648.682 457.084C620.571 504.864 566.213 529.001 516.12 552.746C468.974 575.095 419.164 589.891 366.994 590.614C314.357 591.343 265.044 574.596 215.461 556.914C156.814 535.998 89.2326 525.794 49.8963 477.528C9.33077 427.754 -5.10033 358.316 1.55686 294.452C7.9872 232.763 48.3885 181.556 85.897 132.16C119.927 87.3458 158.066 44.6532 209.153 21.064C258.088 -1.53136 313.312 -2.47278 366.994 2.3657Z" fill="#C4C4C4"/>
  </svg>
  <svg class="absolute blur-xl animate-circular z-50 opacity-30 right-0" width="300" height="300" viewBox="0 0 518 572" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" class="fill-primary" clip-rule="evenodd" d="M253.33 0.000366211C351.246 0.181438 427.741 71.6876 464.278 162.531C512.692 282.906 557.354 432.592 456.746 514.519C344.761 605.712 176.51 579.772 65.8302 487C-26.4228 409.674 -7.25868 274.123 35.8663 161.739C71.142 69.8101 154.866 -0.18172 253.33 0.000366211Z" fill="#C4C4C4"/>
  </svg>
</section>
