---
export interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<section class={className}>
  <slot/>
</section>

<style>
  section {
    background-image: url('/src/assets/images/animated-gradient-bg.svg');
    background-size: cover;
  }
</style>