---
import { getCollection, CollectionEntry } from 'astro:content';

type Tags = CollectionEntry<'tag'>[]

const tags: Tags = await getCollection('tag');
---
<ul>
  {tags.map((tag) => (
    <li>
      <a href={`/tags/${tag.data.slug}`}>{tag.data.name}</a>
    </li>
  ))}
</ul>