---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class=`hover:text-foreground/80 text-foreground/60 ${className}` class:list={[{ 'text-foreground/100': isActive }]} {...props}>
	<slot />
</a>
