---
import HeaderLink from './HeaderLink.astro';
import ThemeToggler from './ThemeToggler';
---
<!-- This is intentionally inlined to avoid FOUC -->
<script is:inline>
	const root = document.documentElement;
	const theme = (() => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
			return 'dark';
		}
		return 'light';
	})();
	if (theme === 'light') {
		root.classList.remove('dark');
	} else {
		root.classList.add('dark');
	}
</script>

<header class="flex h-20 max-w-7xl justify-between m-auto items-center">
	<h2>Anand</h2>
	<nav class="flex gap-3">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink>
	</nav>
	<ThemeToggler client:visible/>
</header>