---
import HeaderLink from './HeaderLink.astro';
import ThemeToggler from './ThemeToggler';
import { LINKS } from '../../../consts';
---
<header class="flex h-20 max-w-7xl justify-between m-auto items-center">
	<h2>Anand</h2>
	<nav class="flex gap-3">
		{LINKS.map((link) => (
			<HeaderLink href={link.href}>{link.text}</HeaderLink>
		))}
	</nav>
	<ThemeToggler client:visible/>
</header>