---
import ThemeToggler from './ThemeToggler';
import { Image } from 'astro:assets';
import logo from './logo.png';
---

<header class="flex h-20 max-w-7xl justify-between m-auto items-center">
	<a href={import.meta.env.HOME_URL} class="ps-3">
		<Image src={logo} alt="Logo" width={40} height={40} />
	</a>
	<ul
		class="inline-flex h-9 items-center justify-center rounded-lg bg-muted p-1 text-muted-foreground gap-3 px-3 select-none"
	>
		<li
			class="inline-flex items-center justify-center whitespace-nowrap rounded-md px-3 py-1 text-sm font-medium ring-offset-primary transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
		>
			<a href={import.meta.env.HOME_URL}>Home</a>
		</li>
		<li
			class="text-foreground inline-flex items-center justify-center whitespace-nowrap rounded-md px-3 py-1 text-sm font-medium ring-offset-primary transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
		>
			<a href="/">Blog</a>
		</li>
	</ul>
	<ThemeToggler client:visible />
</header>
