---
import { formatDistance } from 'date-fns'
import { type CollectionEntry } from 'astro:content';


type Authors = CollectionEntry<'author'>[]

export interface Props {
  pubTimestamp: Date;
	className: string;
	authorDetails: Authors[0];
}
const { pubTimestamp, className, authorDetails } = Astro.props;
const publishedAt = formatDistance(new Date(pubTimestamp), new Date(), { addSuffix: true })
---

<div class={`flex items-center ${className}`}>
	<img
		src="https://avatars.githubusercontent.com/u/95082903?s=48&v=4"
		alt="anand"
		class="w-12 h-12 rounded-full mr-4"
	/>
	<div class="text-sm flex">
		<a class="text-gray-500 ml-1" href={`/authors/${authorDetails.id}`}>@{authorDetails.id}</a>
		<p class="text-gray-500 ml-1">•</p>
		<p class="text-gray-500 ml-1">{publishedAt}</p>
	</div>
</div>
