---
import type { CollectionEntry } from 'astro:content';
export interface Props {
  tag: CollectionEntry<'tag'>['data'];
  size?: 'sm' | 'lg';
}
const { tag, size } = Astro.props
---
<a
  href={`/blog/tags/${tag.name.toLowerCase()}`}
  class={`${size === "sm" ? "text-sm" : "text-lg"} pr-2 group inline-flex`}
>
  # {tag.name.toLowerCase()}
</a>