---
import BaseLayout from "layouts/BaseLayout.astro";
import { getCollection, CollectionEntry } from 'astro:content';
import GradientBg from '@components/cards/GradientBg.astro';
import PostCard from "@components/post/PostCard.astro";

type Tags = CollectionEntry<'tag'>[]
type Post = Array<CollectionEntry<'blog'>>


export async function getStaticPaths() {
  const tags: Tags = await getCollection('tag');
	return tags.map((tag) => ({
		params: { tag: tag.id },
		props: tag,
	}));
}

const tag = Astro.props;
const posts: Post = await getCollection('blog');
const filteredPosts = posts.filter((post) => post.data.tags?.some((t) => t.id === tag.id));
---
<BaseLayout>
		<GradientBg class="max-w-7xl m-auto px-4">
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
				{
					filteredPosts.map((post) => (
						<PostCard post={post} />
					))
				}
			</div>
		</GradientBg>
</BaseLayout>
