<div class="noise">
  <slot/>
</div>


<style>
  .noise::before {
    position: absolute;
    content: "";
    height: 100vh;
    width: 100vw;
    top: 10%;
    left: -60vw;
    background: url(https://astro.build/assets/noise.webp) repeat,linear-gradient(83.21deg, hsl(var(--primary)) 0%, hsl(var(--accent)) 100%);
    background-blend-mode: overlay;
    -webkit-mask-image: radial-gradient(rgba(0,0,0,.4),transparent 65%);
    mask-image: radial-gradient(rgba(0,0,0,.4),transparent 65%);
    z-index: -1;
  }
  .noise::after {
    position: absolute;
    content: "";
    height: 100vh;
    width: 100vw;
    top: 10%;
    right: -60vw;
    background: url(https://astro.build/assets/noise.webp) repeat,linear-gradient(83.21deg, hsl(var(--accent)) 0%, hsl(var(--primary)) 100%);
    background-blend-mode: overlay;
    -webkit-mask-image: radial-gradient(rgba(0,0,0,.4),transparent 65%);
    mask-image: radial-gradient(rgba(0,0,0,.4),transparent 65%);
    z-index: -1;
  }
</style>